@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
	font-family: "Nunito", "Arial", sans-serif;
}
body {
	background-color: #b3e5fc;
}
div#header {
	margin: 20px auto 10px auto;
	width: 45%;
	background-color: #fefefe;
	padding: 24px;
	border-top: 12px solid #29b6f6;
	border-radius: 12px;
}
div.input {
	margin: 10px auto 10px auto;
	width: 45%;
	background-color: #fefefe;
	padding: 24px;
	border-radius: 12px;
}
.require {
	color: red;
}
input[type="text"] {
	border: none;
	border-bottom: 1.5px solid #29b6f6;
	min-width: 72%;
	background-color: transparent;
}
input[type="text"]:focus {
	outline: none;
}
#fname,
#lname {
	min-width: 35.5%;
}
button {
	padding: 10px;
	background-color: #29b6f6;
	border: none;
	display: block;
	margin: 20px auto;
	width: 30%;
	border-radius: 10px;
}
p#result {
	background-color: #fefefe;
	width: 45%;
	margin: 50px auto auto auto;
	border-top: 12px solid #29b6f6;
	border-radius: 12px;
	display: none;
	padding: 24px;
	font-size: 20px;
	line-height: 1.75em;
}
textarea {
	width: 98%;
	height: 100px;
	resize: vertical;
}
.value {
	color: blue;
	font-weight: bold;
	border-bottom: 1px solid blue;
	position: relative;
	left: 5px;
}
span#counter {
	font-size: 12px;
	position: relative;
	float: right;
	margin-right: 5px;
}
#smalltext {
	font-size: 12px;
	margin-top: 0;
}
#comment {
	margin-bottom: 0;
}
